html, body {
	width:100vw;
	height:100vh;
	background-color: DarkGrey;
}

@font-face {
	font-family: headerfont;
	src: url("HearthStone.ttf");
}

header {
	height:15vh;
	width: 85vw;
	display:flex;
	align-items: center;
	justify-content: center;
	background-color: DimGrey; 
	padding-top: 5px;
}

main {
	height:;
	display:grid;
	grid-template-columns:30% 70%;
	grid-template-rows:100%;
}

aside {
	height:78vh;
	width: 25vw;
	box-shadow:0 0 15px black;
}

#container {
	height: 100vh;
	width:85vw;
	margin-left:7.5%; 
	margin-right:7.5%;
	background-color: DimGrey;
	-webkit-box-shadow: 5px 5px 8px 2px rgba(0,0,0,1);
    -moz-box-shadow: 5px 5px 8px 2px rgba(0,0,0,1);
	box-shadow: 5px 5px 8px 2px rgba(0,0,0,1);
}

#cabecera {
	text-shadow: 2px 3px black;
	font-family: arial;
	color:white;
	text-align: center;
	font-size:50px;
	margin-top:25px;
}

ul {
	display:grid;
	grid-template-columns:20% 20% 20% 20% 20%;
	grid-template-rows:50px;
	list-style-type: none;
 	margin: 0;
  	padding: 0;	
  	-webkit-box-shadow: 0px 5px 5px 0px rgba(204,202,204,1);
    -moz-box-shadow: 0px 5px 5px 0px rgba(204,202,204,1);
	box-shadow: 0px 5px 5px 0px rgba(204,202,204,1);
	margin-top:10px;
}
li {
	background-color: black;
	border-right:1px white solid;
}

#contact {
	border-right: 0px;
}

li a {	
	text-decoration: none;
	color:white;
	font-size:20px;
	font-family:arial;
	text-shadow: 0px 0px grey;
}

nav ul li {
	display:flex;
	justify-content: center;
	align-items: center;
}


footer {
	position:absolute;
	bottom:0;
	background-color: black;
	width:85vw;
	height:10%; 
}